<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.spark_project.jetty" level="WARN"/>
    <logger name="org.apache.spark.util" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache.spark" level="DEBUG"/>
    <logger name="org.apache.spark.storage" level="WARN"/>
    <logger name="org.apache.spark.scheduler" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.spark.ui" level="WARN"/>
    <logger name="org.apache.spark.sql.catalyst.expressions.codegen" level="WARN"/>
    <logger name="org.apache.spark.deploy.SparkHadoopUtil" level="INFO"/>
    <logger name="org.apache.spark.memory" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>
    <logger name="org.jets3t" level="WARN"/>
    <logger name="httpclient" level="WARN"/>
    <logger name="org.apache.commons" level="WARN"/>
    <logger name="com.amazonaws" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.hadoop.fs.s3a" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
